<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Appli_gestion_cla</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Appli_gestion_cla.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                      
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Admins" asp-action="Index">Administrateur</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Etudiants" asp-action="Index"> Etudiants</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Enseignants" asp-action="Index"> Enseignants</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Matieres" asp-action="Index"> Matieres</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notes" asp-action="Index"> Notes</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index"> Classe</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Affectations" asp-action="Index">Affectation</a>
                        }

                        @if (User.IsInRole("Prof"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Profs" asp-action="Index">Enseignant</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Etudiants" asp-action="Index">Liste_des_etudiants</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Matieres" asp-action="Index">Liste_des_matieres</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notes" asp-action="Index">Modification_des_notes</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Affectations" asp-action="Index">Classe_affectée</a>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Appli_gestion_classes - Réaliser par le groupe5 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
