@model IEnumerable<Appli_gestion_cla.Models.Etudiant>

@{
    ViewData["Title"] = "Accueil Étudiant";
}
<link rel="stylesheet" href="~/css/etudiant.css" />

<div class="dashboard">

    <!-- EN-TÊTE -->
    <header class="dashboard-header">
        <h1>Bienvenue 👋</h1>
        <p>Espace étudiant</p>
    </header>

    <!-- INFOS -->
    <section class="cards">


        <div class="card">
            <h3>📝 Notes</h3>
            <p>Consulter les notes</p>
            <a class="btn" href="~/Notes/Index">Voir</a>
        </div>

    </section>

   

    <div class="card">
        <h3>📅 Emploi du temps</h3>
        <p>Voir l'emploi du temps de la semaine</p>
        <a class="btn" asp-controller="Admins" asp-action="EmploiDuTemps">Ouvrir</a>
    </div>

</div>


