@model Appli_gestion_cla.Models.Matiere

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer</h1>

<h3>Voulez vous vraiment supprimer ?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger">Supprimer</button> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
