@model Appli_gestion_cla.Models.Affectation

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier</h1>

<h4>Affectation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EnseignantId" class="control-label"></label>
                <select asp-for="EnseignantId" class="form-control" asp-items="ViewBag.EnseignantId"></select>
                <span asp-validation-for="EnseignantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatiereId" class="control-label"></label>
                <select asp-for="MatiereId" class="form-control" asp-items="ViewBag.MatiereId"></select>
                <span asp-validation-for="MatiereId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasseId" class="control-label"></label>
                <select asp-for="ClasseId" class="form-control" asp-items="ViewBag.ClasseId"></select>
                <span asp-validation-for="ClasseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
