@{
    ViewData["Title"] = "Accueil";
}

<div class="home-container">
    <div class="home-card text-center">
        <h1>Bienvenu sur Application de Gestion de Classes de Collége de Paris</h1>
        <p>
            Une solution simple et efficace pour gérer les classes, enseignants,
            élèves et matières.
        </p>

        <a class="btn btn-primary me-3" href="/Identity/Account/Login">
            Se connecter
        </a>
    </div>

</div>