@page
@model LoginModel

@{
    ViewData["Title"] = "Se connecter";
}


    
     
 <form id="account" method="post">
     <div class="page-center">
                
        <div class="neumorphic-card">
          <h1>Se connecter</h1>
          <input asp-for="Input.Email" type="text" class="neumorphic-inset"  aria-required="true" placeholder="name@example.com" />
          <input asp-for="Input.Password" type="password" class="neumorphic-inset" aria-required="true" placeholder="password" />
          <button id="login-submit" type="submit" class="neumorphic-btn">Seconnecter</button>
          <br/>
          <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
           </div>

           <p>
             <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
           </p>

         </div>

     </div>
               
 </form>

        
    
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
