@page
@model RegisterModel
@{
    ViewData["Title"] = "S'inscrire";
}

<h1>@ViewData["Title"]</h1>


        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <div class="page-center">
                

                <div class="neumorphic-card">
                    <h2>Créer un nouveau compte </h2>
                    <br/>

                    <input asp-for="Input.Email" class="neumorphic-inset"  aria-required="true" placeholder="name@example.com" />

                    <input asp-for="Input.Password" class="neumorphic-inset"  aria-required="true" placeholder="password" />

                    <input asp-for="Input.ConfirmPassword" class="neumorphic-inset"  aria-required="true" placeholder="ConfirmPassword" />

                    <button id="registerSubmit" type="submit" class="neumorphic-btn">Register</button>
                </div>
               
            </div>

        </form>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
